:root {
  --board-size: 100vmin;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.m-1 {
  margin: 0.5rem;
}

h1 {
  margin: 0;
}

button {
  padding: 0.3rem;
}

.sub-container {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #eee;
}

.main-container {
  width: 800px;
  margin: auto;
}

.copy-url {
  padding: 2px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}


/* Game */
#board {
  display: flex;
  flex-wrap: wrap;
  width: var(--board-size);
  margin: auto;
}

.square {
  width: 12.5%;
  height: calc(var(--board-size) / 8);
  background-color: #975;
}

.square:nth-child(16n + 1),
.square:nth-child(16n + 3),
.square:nth-child(16n + 5),
.square:nth-child(16n + 7),
.square:nth-child(16n + 10),
.square:nth-child(16n + 12),
.square:nth-child(16n + 14),
.square:nth-child(16n + 16)
{
  background-color: #fdb;
}

.piece {
  width: calc(var(--board-size) / 8);
  height: calc(var(--board-size) / 8);
}

.white-pawn {
  background: url('./assets/Chess_plt45.svg') center/cover;
}

.black-pawn {
  background: url('./assets/Chess_pdt45.svg') center/cover;
}

.white-knight {
  background: url('./assets/Chess_nlt45.svg') center/cover;
}

.black-knight {
  background: url('./assets/Chess_ndt45.svg') center/cover;
}

.white-bishop {
  background: url('./assets/Chess_blt45.svg') center/cover;
}

.black-bishop {
  background: url('./assets/Chess_bdt45.svg') center/cover;
}

.white-rook {
  background: url('./assets/Chess_rlt45.svg') center/cover;
}

.black-rook {
  background: url('./assets/Chess_rdt45.svg') center/cover;
}

.white-queen {
  background: url('./assets/Chess_qlt45.svg') center/cover;
}

.black-queen {
  background: url('./assets/Chess_qdt45.svg') center/cover;
}

.white-king {
  background: url('./assets/Chess_klt45.svg') center/cover;
}

.black-king {
  background: url('./assets/Chess_kdt45.svg') center/cover;
}